[safe]
	directory = *
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[http]
	proxy = http://127.0.0.1:20809
[https]
	proxy = http://127.0.0.1:20809
